Application/MosaicStepFunctions/state-machine.json
{
  "Comment": "CloudMosaic State Machine",
  "StartAt": "ModerateUserImage",
  "States": {
    "ModerateUserImage": {
      "Type": "Task",
      "Resource": "${ModerateUserImageFunction.Arn}",
      "Next": "CreateColorMap",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.Exception",
          "Next": "NotifyCompletion"
        }
      ]
    },
    "CreateColorMap": {
      "Type": "Task",
      "Resource": "${CreateColorMapFunction.Arn}",
      "Next": "DetermineBestImages",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.Exception",
          "Next": "NotifyCompletion"
        }
      ]
    },
    "DetermineBestImages": {
      "Type": "Task",
      "Resource": "${DetermineBestImagesFunction.Arn}",
      "Next": "ChooseRenderer",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.Exception",
          "Next": "NotifyCompletion"
        }
      ]
    },
    "ChooseRenderer": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.OriginalImagePixelCount",
          "NumericLessThan": 300000,
          "Next": "RenderMosaicSmall"
        },
        {
          "Variable": "$.OriginalImagePixelCount",
          "NumericLessThan": 1920000,
          "Next": "RenderMosaicMedium"
        }
      ],
      "Default": "RenderMosaicLarge"
    },
    "RenderMosaicSmall": {
      "Type": "Task",
      "Resource": "${RenderMosaicSmallFunction.Arn}",
      "Next": "NotifyCompletion",
      "Catch": [
        {
          "ErrorEquals": [ "OutOfMemoryException" ],
          "ResultPath": "$.OutOfMemoryException",
          "Next": "RenderMosaicMedium"
        },
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.Exception",
          "Next": "NotifyCompletion"
        }
      ]
    },
    "RenderMosaicMedium": {
      "Type": "Task",
      "Resource": "${RenderMosaicMediumFunction.Arn}",
      "Next": "NotifyCompletion",
      "Catch": [
        {
          "ErrorEquals": [ "OutOfMemoryException" ],
          "ResultPath": "$.OutOfMemoryException",
          "Next": "RenderMosaicLarge"
        },
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.Exception",
          "Next": "NotifyCompletion"
        }
      ]
    },
    "RenderMosaicLarge": {
      "Type": "Task",
      "Resource": "${RenderMosaicLargeFunction.Arn}",
      "Next": "NotifyCompletion",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.Exception",
          "Next": "NotifyCompletion"
        }
      ]
    },
    "NotifyCompletion": {
      "Type": "Task",
      "Resource": "${NotifyCompletionFunction.Arn}",
      "End": true
    }
  }
}